h1 {
    color: red;
  }

p, li {
    color: green;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }

.special {
    color: orange;
    font-weight: bold;
}

li em {
    color: rebeccapurple;
  }

a:link {
    color: pink;
    }


a:visited {
    color: green;
    }
  