.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px;
    grid-gap: 10px;
    border: 1px gray dotted;
    align-self: auto;
  }

.navbar > div {
    border: 1px red solid;

}
  
.navbar > div > div {
    height: 30px;
    line-height: 30px;
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: blue;
    flex: 1 1 auto;
    border: 1px purple solid;
    border-radius: 10px;
    text-align: center;


    margin: 5px; /* and that, will result in a 10px gap */
    }

.navbar > div > div:hover {
    background-color: bisque;
    }
  
  
.navbar > div > div > a {
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    }

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
    border: 1px gray dotted;
    }
    
    
.wrapper > div {
    border: 1px red solid;
    }

.box1 {
    grid-row: 1;
    grid-column: 1;
    }
    
.box2 {
    grid-row: 1;
    grid-column: 2;
    }

.box3 {
    grid-row: 2;
    grid-column: 1;
    }
    
.box4 {
    grid-row: 2;
    grid-column: 2;
    }

      